a#logo.logo-text {
    color: black;
}


section#main.outer {
    padding-top: 0em;
}

/* @media screen and (min-width: 1000px) {
    section#main.outer {
        margin-left: 180px;
    }
} */
.blurb h1 {
    color: black;
    font-size: 1.5em;
    padding-bottom: 0em;
    padding-top: 1em;
    border-bottom: 1px solid #D3D3D3;
}


a.article-title {
    font-size: 1.2em;
    padding-top: 0em;
}
.article-entry p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.article-more-link p {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}


article.article.article-type-post {
    margin-top: 25px;
    padding-top: 0em;
}

.article-entry blockquote {
    text-align: left;
    font-size: 120%;
    font-style: italic;
    margin-top: 20pt;
    margin-bottom: 20pt;
    color: gray;
    /* background-color: #e5ebff; */
    margin-left: 50px;
    /* margin-right: 100px; */
}

h2.article-subtitle {
    font-style: italic;
}

h1#research {
    font-size: 1.5em;
}

.article-entry td {
    border: none;
}

/* TABLE photo */
.row-img {
  display: block;
  /* width: 100%; */
}
.container-img {
}
.left-img {
  float: left;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.right-img {
    float: right;
}

.article-entry h3,
.article-entry h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.article-entry .articlelink { color: #291060; cursor: pointer}

article.article.article-type-post {
    margin-bottom: 1em;
}

a.article-tag-list-link {
    font-size: 12pt;
}

#description_initiale {
    font-size: 100%;
    padding-bottom: 0.5em;
    padding-top: 25px;
}

a.main-nav-link {
    font-size: 120%;
}

div.article-meta {
    line-height: 70%;
}

#about_me {
    font-size: 13pt;
}

#special {
    font-size: 1.5em;
    padding-bottom: 0.3em;
    padding-top: 0em;
    border-bottom: 1px solid #D3D3D3;
}
#special2 {
    font-size: 1.5em;
    padding-bottom: 0em;
    padding-top: 1em;
    line-height: 13px;
    /* border-bottom: 1px solid #D3D3D3; */
}

#maclasse {
    font-size: 1.2em;
    padding-bottom: 1em;
    padding-top: 1em;
    font-weight: 700;
    border-top: 1px solid #D3D3D3;
    font-family: "PT Serif","STZhongsong","华文中宋","Microsoft Yahei",serif;
}

/* #maclasse a:link { color: #000000; text-decoration: none}
#maclasse a:visited { color: #000000; text-decoration: none}
#maclasse a:hover { color: #3366CC; text-decoration: underline}
#maclasse a:active { color: #000000; text-decoration: none} */

/* a.article-more-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
} */
a.article-more-link:link { color: #000000; border-bottom: 1px dotted; cursor: pointer}
a.article-more-link:visited { color: #000000; text-decoration: underline}
a.article-more-link:hover { color: #3366CC; text-decoration: underline}
a.article-more-link:active { color: #000000; text-decoration: underline}


a:-webkit-any-link {
    color: #000000; text-decoration: none;
}

.article-entry a {
  border-bottom: none;
}

.metatexte {
    margin-bottom: 1em;
}

#légende {
    font-style: italic;
    line-height: 70%;
    text-align: center;
}
.article-entry img {
    padding-right: 1em;
}

#specialmain {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 100%;
}

#aboutme p {
    margin-bottom: 1em;
    margin-top: 0em;
}

.row-img {
  display: block;
  margin-top: 0em;
  margin-bottom: 1em;
}

.separation{
	clear: both;
	position: absolute;
	margin-top :10px;
	margin-left: 250px;
	height: 200px;
	width : 5px;
	background: black;
	}

#block_container {
    text-align:center;
}

#bloc1, #bloc2 {
    display:inline-block;
}

#bloc1 {
    border-right: 1px solid #D3D3D3;
    padding-right: 100px;
}


#header-inner.inner {
    height: 60px;
}

#container1, #container2 {
    display:inline-block;
}

#container2 {
    font-size: 13pt;
}

a.main-nav-link:hover {
    color: #3366CC;
    text-decoration: underline;
}

.rotate {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  margin-top: 88px;
  padding-top: 80px;
  padding-bottom: 80px
}
