<!DOCTYPE html>
<html>
<head>
  <title>{{ .Title }}{{ if ne .Title .Site.Title }} {{ .Site.Title }}{{ end }}</title>

  {{ partial "meta.html" . }}
  {{ partial "og.html" . }}

  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link rel="shortcut icon" href="/favicon.png">

  <link href="{{ .Site.BaseURL }}webfonts/ptserif/main.css" rel='stylesheet' type='text/css'>
  <link href="{{ .Site.BaseURL }}webfonts/source-code-pro/main.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/camille.css">

  <link href="http://gmpg.org/xfn/11" rel="profile">

  {{ .Hugo.Generator }}
</head>
