<header id="header">
  <div id="header-outer" class="outer">
    <div id="header-inner" class="inner">
      <a id="main-nav-toggle" class="nav-icon" href="javascript:;"></a>
      <a id="logo" class="logo-text" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      <nav id="main-nav">
        <div id="block_container">
          <div id="bloc1">
            {{ range .Site.Menus.main }}
            <a class="main-nav-link" href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
          </div>
          <div id="bloc2">
            <a class="main-nav-link" href="{{ .Site.BaseURL }}/categories/briefs/">Briefs</a>
            <a class="main-nav-link" href="{{ .Site.BaseURL }}/categories/francais/">En français</a>
          </div>
        </div>
      </nav>
      <nav id="sub-nav">
        <div id="search-form-wrap">
        </div>
      </nav>
    </div>
  </div>
</header>
