{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<nav id="page-nav">
  {{ if $pag.HasPrev }}
  <a href="{{ $pag.Prev.URL }}" rel="prev" class="extend prev">&laquo; Prev</a>
  {{ end }}
  {{ range $pag.Pagers }}
  {{ if eq . $pag }}
  <span class="page-number current">{{ $pag.PageNumber }}</span>
  {{ else }}
  <a href="{{ .URL }}">{{ .PageNumber }}</a>
  {{ end }}
  {{ end }}

  {{ if $pag.HasNext }}
  <a href="{{ $pag.Next.URL }}" rel="next" class="extend next">Next &raquo;</a>
  {{ end }}
</nav>
{{ end }}
