{{ partial "head.html" . }}
<body>
  <div id="container">
    {{ partial "header.html" . }}
    <section id="main" class="outer">
        <div class="blurb">
          <h1>About this section:</h1>
        </div>

      <div id="description_initiale">
      Many of the following posts are articles and briefs I have published elsewhere (China Analysis, Oxford Analytica, the EIU, The Interpreter, Technode...). <br/><br/>
      All of this is dated material as pieces are posted a few months after publication due to copyright rules. I don't aim to react quickly to current events but rather to reflect on underlying trends. These are not academic articles either: they are brief pieces on topics that are only remotely linked to my research interests. But I hope they can be a useful and simple introduction to some fascinating aspects of Chinese society and politics.
      </div>
      <!-- <img src="image2.jpg" alt="image2"> -->


      <p>
        <div class="blurb">
          <h1>Recent posts:</h1>
        </div>
        {{ range .Paginator.Pages }}
        {{ if .Params.Paginate }}
        <article class="article article-type-post" itemscope itemprop="blogPost">
          <div class="article-inner">
            <!--<%- partial('post/gallery') %>-->
            {{ if .Title }}
            <header class="article-header">
              <h1 itemprop="name"><a class="article-title" href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
            </header>
            {{ end }}
            <div class="article-meta">
              <a href="{{ .RelPermalink }}" class="article-date">
                <time datetime='{{ .Date.Format "2006-01-02T15:04:05.000-07:00" }}' itemprop="datePublished">{{ .Date.Format "2006-01-02" }}</time>
              </a>
              {{ $Site := .Site }}
              {{ if .Params.categories }}
              <div class="post-categories">
                <div class="article-category">
                  {{ range $i, $e := .Params.categories }}
                  {{ if gt $i 0 }}
                  <span>&gt;</span>
                  {{ end }}
                  <a class="article-category-link" href="{{ $Site.BaseURL }}/categories/{{ $e | urlize }}">{{ $e }}</a>
                  {{ end }}
                </div>
              </div>
              {{ end }}
              {{ if .Site.Params.disqusShortname }}
              <div class="article-comment-link-wrap">
                <a href="{{ .RelPermalink }}#disqus_thread" class="article-comment-link">Comments</a>
              </div>
              {{ end }}
            </div>
            <div class="article-entry" itemprop="articleBody">
              <p>
                {{ if .Params.featuredImage }}<img src="{{.Params.featuredImage}}" width = "20%" align="left"><br>{{ end }}
                {{ if .Description }}
                    {{ .Description }}
                    {{ else }}
                    {{ .Summary | plainify | safeHTML }}
                    {{ end }}
                    <a class="article-more-link" href="{{ .RelPermalink }}">Read More</a>

            </div>

            {{ if .Params.tags }}
            <footer class="article-footer">
              <ul class="article-tag-list">
                {{ range .Params.tags }}
                <li class="article-tag-list-item">
                  <a class="article-tag-list-link" href="{{ $Site.BaseURL}}/tags/{{ . | urlize }}">{{ . }}
                  </a>
                </li>
                {{ end }}
              </ul>
            </footer>
            {{ end }}
          </div>
        </article>
        {{ end }}
        {{ end }}

        {{ partial "pagination.html" . }}
      </section>
      {{ partial "footer.html" . }}
    </div>
  </body>
  </html>
